<%= form_for(@payment_detail) do |f| %>
  <% if @payment_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_detail.errors.count, "error") %> prohibited this payment_detail from being saved:</h2>

      <ul>
      <% @payment_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field_address">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field_suburb_state_pcode">
    <%= f.label :suburb %> ................<%= f.label :state %> .............. <%= f.label :pcode %><br/>
    <%= f.text_field :suburb, :size => 15 %>
    <%= f.text_field :state, :size =>12 %>
    <%= f.text_field :pcode, :size =>8 %>
  </div>
  <div class="field_country_and_email">
    <%= f.label :country %> ........... <%= f.label :email %><br />
    <%= f.text_field :country, :size =>12 %>
    <%= f.text_field :email %>
  </div>
  <hr>
  <div class="field_payby">
  Copy and paste one of these into the field<br/>
    Visa . Mastercard . Bank Transfer
    
    <%= f.text_field :pay_by, :size =>12 %>
  </div>
  <div class="field">
    <%= f.label :card_number %> or Transfer number . 
    <%= f.text_field :card_number %>
  </div>
  <div class="field_expdate">
    Card <%= f.label :expiry_date %> . . . . . . . . . . . .
    <%= f.text_field :expiry_date, :size =>10 %>
  </div>
  <div class="field_name_on_card">
    <%= f.label :Name_on_Card %> . . . . . . . . . . . . . . 
    <%= f.text_field :Name_on_Card %>
  </div>
  <hr>
  <div class="field_donation">
    Your Total <%= f.label :Donation %>$ 
    <%= f.number_field :Donation, :size =>4 %>
  </div>
  <p> </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
