<h1>Listing product_member_types</h1>

<table>
  <tr>
    <th>Mtype</th>
    <th>Prodtype</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product_member_types.each do |product_member_type| %>
  <tr>
    <td><%= product_member_type.mtype_id %></td>
    <td><%= product_member_type.prodtype_id %></td>
    <td><%= link_to 'Show', product_member_type %></td>
    <td><%= link_to 'Edit', edit_product_member_type_path(product_member_type) %></td>
    <td><%= link_to 'Destroy', product_member_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product member type', new_product_member_type_path %>
