<p id="notice"><%= notice %></p>

<p>
  <b>Age:</b>
  <%= @attendee.age %>
</p>

<p>
  <b>Gender:</b>
  <%= @attendee.gender %>
</p>

<p>
  <b>Fname:</b>
  <%= @attendee.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @attendee.lname %>
</p>

<p>
  <b>Eck:</b>
  <%= @attendee.eck_id %>
</p>

<p>
  <b>Address:</b>
  <%= @attendee.address %>
</p>

<p>
  <b>State:</b>
  <%= @attendee.state %>
</p>

<p>
  <b>Country:</b>
  <%= @attendee.country %>
</p>

<p>
  <b>Contact:</b>
  <%= @attendee.contact %>
</p>

<p>
  <b>Designation:</b>
  <%= @attendee.designation %>
</p>

<p>
  <b>Donation:</b>
  <%= @attendee.donation %>
</p>


<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', attendees_path %>
