<p id="notice"><%= notice %></p>

<p>
  <b>Age:</b>
  <%= @customer.age %>
</p>

<p>
  <b>Gender:</b>
  <%= @customer.gender %>
</p>

<p>
  <b>Fname:</b>
  <%= @customer.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @customer.lname %>
</p>

<p>
  <b>Eck:</b>
  <%= @customer.eck_id %>
</p>

<p>
  <b>Address:</b>
  <%= @customer.address %>
</p>

<p>
  <b>State:</b>
  <%= @customer.state %>
</p>

<p>
  <b>Country:</b>
  <%= @customer.country %>
</p>

<p>
  <b>Contact:</b>
  <%= @customer.contact %>
</p>

<p>
  <b>Designation:</b>
  <%= @customer.designation %>
</p>

<p>
  <b>Donation:</b>
  <%= @customer.donation %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
