<p id="notice"><%= notice %></p>
(/app/views/product/show)
<p>
<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

  Details of this <i><%= @product.title %></i> <%= @product.event_type %> <br />
   This event is for <b><%= @product.initiate %></b><br/> 
   It is a <%= @product.num_days %> day/s event. Starting <%= @product.event_time %> on the <%= @product.event_date %>
</p>

<p>
  <b>Members or open </b>
  <%= @product.initiate %>
</p>
<!-- ------------------------ -->
<p>
  <b>Venue:</b>
  <%= @product.venue %>, <%= @product.address %> <br />
    <b>Contact:</b>  <%= @product.contact %>
</p>

<!-- -----------------------
<p>
  <b>Address:</b>
  <%= @product.address %>
</p>

<p>
  <b>Contact:</b>
  <%= @product.contact %>
</p>
 ------------------------>
 
<p>
  <b>Quote:</b>
  <i><%= @product.quote %> </i> <br />
  From the book  <i><%= @product.quote_ref %> </i> by  <%= @product.quote_auth %>
</p>
<!-- ----------------------
<p>
  <b>Quote ref:</b>
  <%= @product.quote_ref %>
</p>

<p>
  <b>Quote auth:</b>
  <%= @product.quote_auth %>
</p>
------------------------ -->
<p>
  <b>Adults . . . . . . . . . . . . .  </b>
  $<%= @product.adult_price %>
</p>

<p>
  <b>Pensioners / Students</b>
  $<%= @product.pens_price %>
</p>

<p>
  <b>Family . . . . . . . . . . . . . </b>
  $<%= @product.fam_price %>
</p>

<p>
  <b>Youth & young adults . </b>
  $<%= @product.youth_price %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
