<%= form_for(@member_type) do |f| %>
  <% if @member_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member_type.errors.count, "error") %> prohibited this member_type from being saved:</h2>

      <ul>
      <% @member_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :m_type %><br />
    <%= f.text_field :m_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
