<h1>Listing member types</h1>

<table>
  <tr>
    <th>Member type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @member_types.each do |member_type| %>
  <tr>
    <td><%= member_type.m_type %></td>
    <td><%= link_to 'Show', member_type %></td>
    <td><%= link_to 'Edit', edit_member_type_path(member_type) %></td>
    <td><%= link_to 'Destroy', member_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member type', new_member_type_path %>
