<!DOCTYPE html>
<html>
<head>
  <title>EAS Events & Reservations</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body id="store" >
   <div id="banner" >
       <%= @page_title || "EAS Events & Reservations" %>
   </div>
   
   
   <div id="columns">
       <div id="side">
       Some text in here as a filler
       </div>
       
        <div id="main">
        <%= yield %>
        </div>
   </div><!--end of columns -->
   

 </div><!--end of store -->

</body>
</html>
